<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta charset = "UTF-8">
        <meta name="viewport" content="witdth = device.width.width, initial-scale = 1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <h2>Desde aqui veras el Menu</h2>
    <a class="btn btn-secondary btn-block btn-lg" href="{% url 'insert_pedidos' %}">Pedidos</a>
    <a class="btn btn-secondary btn-block btn-lg" href="{% url 'insert_clientes' %}">Clientes</a>
    <a class="btn btn-secondary " href="{% url 'insert_productos' %}">Productos</a>
</body>
</html>